<p>ようこそ、ながのCAKEへ！</p></br>
<p>このサイトは、ケーキ販売のECサイトになります。</p></br>
<p>会員でない方も商品の閲覧はできますが、</p></br>
<p>購入には会員登録が必要になります。</p></br>

<h2>新着商品</h2>
<table>
  <tbody>
    <tr>
      <th>商品名</th>
      <th>商品名</th>
      <th>商品名</th>
      <th>商品名</th>
    </tr>
    <tr>
      <th>金額</th>
      <th>金額</th>
      <th>金額</th>
      <th>金額</th>
    </tr>
  </tbody>
</table>

<%= link_to "全ての商品を見る＞", items_path %>