<h3>注文履歴一覧</h3>

<table>
  <th>
    <tr>
      <td>購入日時</td>
      <td>購入者</td>
      <td>注文個数</td>
    </tr>
  </th>
  <th>
    <tr>
      <% @order.each do |order| %>
      <td><%= link_to order.created_at, admin_order_path(order) %></td>
      <td><%= order.name %></td>
      <td><%= order.order_details.sum(:amount) %></td>
      </tr>
      <% end %>
  </th>
</table>