@use '~bootstrap/scss/bootstrap';

.footerFixed {
  min-height: 100vh;
  position: relative;
  padding_bottom: 60px;
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
}

.form-spacing-left {
  margin-left: 50px;
}

.form-spacing-top {
  margin-top: 30px;
}

.btn-long {
  width: 150px;
}

.btn-longer {
  width: 200px;
}

.underline-link {
  text-decoration: underline;
  color: black;
}

.btn-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
}

.centered-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}